body {
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
span {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    transition: all .4s;
}