/* body {
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
body {
    background-color: black;
}
h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#idField.is-active {
    background-color: red;
}

.ground {
    width: 400px;
    height: 300px;
    border: 5px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#ball {
    pointer-events: none;
    transition: transform 0.4s;
}

.emotion {
    font-size: 2rem;
    position: absolute;
    pointer-events: none;
}

section {
    background-color: orange;
    padding: 2rem;
    margin: 30px;
    & article {
        background-color: dodgerblue;
        padding: 2rem;
        & p {
            background-color: hotpink;
            padding: 2rem;
        }
    }
}